/* :root {
} */

* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  /* margin: 0;
  padding: 0; */
  overflow-wrap: break-word;
  hyphens: auto;
}

header,
article {
  max-width: 1400px;
  margin: 0 auto;
}

label {
  font-family: "Fira Sans", sans-serif;
}
